/* Reset some default styles */
* {
    box-sizing: border-box;

}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* start background */
.landing {
    background-image: url(Object.png);
    background-size: cover;
    height: 160vh;
    position: relative;
    max-width: 100%;
}

/* start header */
.landing .container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.header .loge {
    padding-top: 30px;
}

/* End header */
/* start section  */
.section {
    position: absolute;
    left: 50%;
    top: 37%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.section h1 {
    color: #ffffff;
    width: 684px;
    font-family: Source Sans Pro;
    font-size: 120px;
    font-weight: 700;
    line-height: 150.84px;
    text-align: center;
    position: absolute;
    top: -268px;
    left: -144px
}

.m-1 {
    color: #ffffff;
    margin-left: 40px;
}

.m-1 span:nth-child(2) {
    margin-left: 40px;
    margin-right: 40px;
}

.section .buttom {
    background-color: #C271FF;
    color: #ffffff;
    border-radius: 50px;
    width: 180px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 79px;
    left: 102px;
}

.section h2 {
    color: #ffffff;
    position: absolute;
    font-weight: 700;
    line-height: 40.22px;
    top: 194px;
    left: 77px;
    font-family: Source Sans Pro;
    font-size: 28px;
}

.section h2 span {
    color: #C271FF;
}

/* End section  */
/* start info */
.info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    padding: 20px;
    position: relative;
    top: 733px;
}

.info div {
    text-align: center;
}

.info div h3 {
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 900;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
}

.info div p {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    width: 150px;
    margin-left: 53px;
}

/* Adjustments for responsive design */
@media (max-width: 600px) {
    .info {
        grid-template-columns: 1fr;
    }
}

/* End info */
/* End background */
/* start person */
.person {
    background-color: #C271FF;
    width: calc(100% + 112px);
    margin-left: -56px;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    height: 300px;
}

.person div {
    margin-top: 77px;
    margin-left: 136px;

}

.person div blockquote {
    margin: -10px;
    font-family: Source Sans Pro;
    font-size: 22px;
    font-weight: 400;
    line-height: 33.6px;
    text-align: left;
    color: #ffffff;

}

.m-3 {
    margin-left: -20px;
}

.m-3 h3,
.m-3 p {
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 33.6px;
    text-align: left;
    color: #ffffff;

}

.m-3 h3 {
    padding-top: 10px;
}

/* end person */
/* start pic */
.pic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding-left: 100px
}

/* End pic */
/* start popular */
.popular {
    background-color: #ffffff;
    width: 1228px;
    height: 450px;
    position: relative;

}

.m-4 {
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-weight: 300;
    line-height: 40.22px;
    padding-left: 152px;
}

.m-4 span {
    font-family: Source Sans Pro;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.22px;
    text-align: center;
    color: #C271FF;
}

.pic h3 {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    text-align: left;
    color: #071629;

}

.pic .Lorem {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #07162980;

}

.play {
    position: absolute;
    top: 110px;
    padding-left: 89px;
}

.m-5 {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 372px;
    padding-left: 0px;
    color: #C271FF;
}

.m-5 div:last-child {
    color: #D8D8D8;

}

.pic h4 {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: #C271FF;
}

.m-6 {
    position: absolute;
    color: #C271FF;
    bottom: 43px;
    padding-left: 213px;
}

/* End popular */
/* start free */
.free {
    width: 1440px;
    height: 502px;
    background-color: #071629;
    position: relative;
}

.member {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.22px;
    text-align: center;
    color: #ffffff;
}

.member span {
    color: #C271FF;
}

.m-7 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding-left: 100px;
    padding-top: 197px;
}

.butt {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    background-color: #C271FF;
    color: #ffffff;
    border-radius: 50px;
    width: 180px;
    padding: 10px;
}

.m-7 h3 {
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #ffffff;

}

.m-7 p {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
    width: 200px;
}

/* End free */
/* start par */


.ff {
    font-family: Source Sans Pro;
    font-size: 60px;
    font-weight: 300;
    line-height: 75.42px;
    text-align: center;

}

.faq-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.faq-item {


    padding: 20px;

    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.faq-item p {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #07162980;

}


/* End par */
/* start footer */
footer {
    width: 1440px;
    height: 249px;
    background-color: #071629;
    position: relative;

}

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.end-1 {
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
}

.end-2 {
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    color: #ffffff;
    padding: 20px;
}

.end-2 i {
    margin: 20px;
}

footer p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    color: #ffffff;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.08px;
    text-align: left;
    opacity: 35.17%;

}

/* End footer */